body{
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    flex-direction: column;


}
.logo{
    float: left;
    height: fit-content;
    width: fit-content;
}
.page_header{
  background-color:black ;
  width: 100%;
  height: auto;
}
#buttons{
  float: right;
  display: flex;
  flex-direction: row;
}
.view-button ,.sign-in ,.log-in{
  font-size: smaller;
  
  margin: 5px;
  border-radius: 2px;
  border-width: thin;
  border-style: none;
}

.view-button ,.log-in {
  background-color: rgba(87, 85, 85, 0.808);
}
.sign-in{
  background-color: green;
}

.picture{
    height: fit-content;
    width: 75%;
    margin: 1em;
}
.picture img{
  width: 100%;
  height: auto;
}


.time_line ,#google {
  text-align: left;
  font-size: small;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
  float: left;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
 


}


.years{
  font-weight: bold;
}
#more{
  align-self: left;
  margin-left: 20px; 
}




















/* table{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;



}   

td , th{
    padding: 4px 8px;
    margin: 1em auto;
    /* font-family: Arial, Helvetica, sans-serif; */
   
/* tr{
    background-color: lightcoral;
} */
/*table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }
  .t1 th, .t1 td {
    padding: 4px 8px;
  }
  .t1 thead th {
    background: #4f81bd;
    text-transform: lowercase;
    text-align: left;
    font-size: 15px;
    color: #fff;
  }
  .t1 tr {
    border-right: 1px solid #95b3d7;
  }
  .t1 tbody tr {
    border-bottom: 1px solid #95b3d7;
  }
  .t1 tbody tr:nth-child(odd) {
    background: #dbe5f0;
  }
  .t1 tbody th, .t1 tbody tr:nth-child(even) td {
    border-right: 1px solid #95b3d7;
  }
  .t1 tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
  }
  .t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
    text-align: right;
  } */ 